body{
    font-family: 'Nunito', sans-serif;
    background-color: transparent;
}
a{
    padding: 10px 15px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
a:hover {
    color: #dc8c3c;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 20px 15px;
}
/*
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    font-weight: bold
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #dc8c3c;
}
*/
.mainSection{
    padding-top: 60px;
    width: 100%;
    height: auto;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
}
.mainSection .container{
/*    width: 1100px;*/
}
.mainSection p,
.mainSection h1{
    color: #fff;
    text-align: center;
}
.mainSection p{
    
}
.mainSection h1{
    margin-bottom: 40px;
    font-size: 60px;
}
/*
.container{
    width: 920px;
}
*/
.bg-light {
    background-color: transparent!important;
}
.btn-group-lg>.btn, .btn-lg {
    margin-right: 20px;
    margin-bottom: 65px;
    width: 175px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 0px;
    font-size: 18px;
    font-weight: lighter;
}
.btn-group-lg>.btn, .btn-lg:hover{
    color: #dc8c3c;
    border-color: #dc8c3c;
    background-color: transparent;
}
.subContainer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(250, 250, 250,0.9);
}
.bg-img{
    background-image: url(../img/helmet-rot.png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
}
.bg-img2{
    background-image: url(../img/drill-rot.png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
}
.h2, h2 {
    font-size: 36px;
}
.h4, h4 {
    font-size: 14px;
}
.bulldozer{
    margin-left: -180px;
}
.truck{
    margin-right: 230px;
}
.border {
    border: 2px solid #000!important;
}
.position-absolute{
    right: 0px;
    top: -23px;
}

/*/////////////////*/
.form-group{
    width: 335px;
    height: 50px
}
.btn-primary {
    width: 335px;
    height: 50px;
    color: #fff;
    font-weight: bolder;
    background-color: #22160e;
    border: 2px solid #22160e;
    font-size: 18px;
}
.btn-primary:hover {
    color: #22160e;
    background-color: #fff;
    border: 2px solid #22160e;
}
